cairocffi==1.7.1
CairoSVG==2.8.2
cffi==2.0.0
choreographer==1.2.1
colorama==0.4.6
cssselect2==0.8.0
defusedxml==0.7.1
greenlet==3.3.1
iniconfig==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
kaleido==1.2.0
logistro==2.0.1
msgpack==1.1.2
narwhals==2.16.0
orjson==3.11.7
packaging==26.0
pillow==12.1.1
platformdirs==4.5.1
plotly==6.5.2
pluggy==1.6.0
pnglatex==1.1
pycparser==3.0
Pygments==2.19.2
pynvim==0.6.0
pyperclip==1.11.0
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
simplejson==3.20.2
six==1.17.0
tinycss2==1.5.1
tornado==6.5.4
traitlets==5.14.3
webencodings==0.5.1
