attrs==25.4.0
fastjsonschema==2.21.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupytext==1.19.1
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
nbformat==5.10.4
packaging==26.0
platformdirs==4.5.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
traitlets==5.14.3
